body{

 
    background-image: url("img/background.gif");
    background-size: cover;
   		

  	margin: 0;
  	padding-top: 20%;



}



header{

	text-align: center;
	color: white;
	font-size:5vw;

	max-height: 60vw;
	width: auto;
}




img{

	height: 30vw;
	width: auto;
}


nav{

	text-align: center;
    overflow: hidden;
   	padding: 10px;
   	max-height: 40vw;
	width: auto;

	top: 0;
  	z-index: 100;

  	position: fixed;

   


}


nav button {
   
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    width: auto;
    height: 13vw;
    font-size:4vw


}



.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}


.about {

	color: white;
	padding: 10px;
	font-size:3vw
}

.skills {
	font-size:3vw;
	color: white;
	padding: 10px;
}


.projects {

	color: white;
	padding: 10px;
	font-size:3vw
}

.contact {
	font-size:3vw;
	color: white;
	padding: 10px;
}