

.title{
	display: inline;
	float: left;
	background-color: grey;
}

.comment{
	display: inline;
	float: right;
	background-color: yellow;
}

.title h1{

	display: inline;

}
.title .dotcom{

	color: #4286f4;
}



.header-bar{

	display: none;
	background-color: grey;

}

.menu-bar{

	display: none;
	background-color: grey;

}